.bg-blue {
    background: #007bff;
}
#nav-menu ul li {
    display: inline-block;
}
#nav-menu ul li a {
    min-width: 100px;
    text-align: center;
}
#nav-menu ul li a i {
    margin: 0 auto;
}
#main {
    margin-top: 150px;
    margin-bottom: 50px;
}
#voice-list .item .pc-item .is-bookmark {
    position: absolute;
}
.voice-detail .voice-content{
    text-align: center;
}
.voice-detail .bookmark button{
    padding: 2px 10px;
}
.login-form {
    min-width: 400px;
}
.btn-bookmark button{
    padding: 5px 15px;
}
#userMenu {
    width: 150px;
}
@media(max-width: 668px) {
    /* #nav-menu ul li a {
        min-width: 70px;
    } */
    #voice-list .pc-item  {
        display: none;
    }
    #voice-list .sp-item  {
        display: block;
    }
}
@media(max-width: 400px) {
    .login-form {
        min-width: 340px;
        font-size: 12px;
    }
    #voice-list .item-left,
    #voice-list .item-right {
        width: 100%;
    }
    #voice-list .item-right {
        margin-top: 15px;
    }
}
